@model Phd.Models.BRStudentGrade

@{
    ViewData["Title"] = "Поставить оценку";
}

<h2>Поставить оценку</h2>



<h4>Оценка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStudentGradeAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.StudentId" name="BRStudentId" />
            <input type="hidden" value="@ViewBag.UserId" name="UserId" />
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <!--

                <div class="form-group">
        <label asp-for="Opinion" class="control-label"></label>
        <input asp-for="Opinion" class="form-control" />
        <span asp-validation-for="Opinion" class="text-danger"></span>
    </div>

        -->
            <div class="form-group">
                <label asp-for="Opinion" class="control-label"></label>
                <textarea asp-for="Opinion" class="form-control" text-wrap:normal" type="text" placeholder="Напишите своё мнение здесь"></textarea>
                <span asp-validation-for="Opinion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <textarea asp-for="Question" class="form-control" text-wrap:normal" type="text" placeholder="Напишите свои вопросы здесь"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Выставить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index">Домой</a>
</div>

