@model Phd.ViewModels.StudentGradeViewModel

@{
    ViewData["Title"] = "Получить результаты";
}

<h2>Общая оценка</h2>

<div><strong><b><em>@Html.DisplayFor(model => model.AverageGrade) %</em></b></strong></div>





