@model IEnumerable<Phd.Models.BRStudentGroup>

@{
    ViewData["Title"] = "Просмотр потоков на каз. яз";
}

<h2>Просмотр потоков каз. яз</h2>

<table class="demotable">
    <thead>
        <tr>
            <td>
                <strong align="center"> №</strong>
            </td>
            <td>
                <strong align="center"> @Html.DisplayNameFor(model => model.Name)</strong>
            </td>
            <td>
                <strong align="center"> Действия</strong>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="CreateStudentKazAsync" asp-route-id="@item.Id"> Создать студента</a>
                    <a class="btn btn-sm btn-primary" asp-action="GetStudentsKazAsync" asp-route-id="@item.Id">Студенты</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<style>
    .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
    }

        .demotable tbody tr {
            counter-increment: schetchik; /* сосчитать только tr в tbody */
        }

            .demotable td,
            .demotable tbody tr:before {
                padding: .1em .5em;
                border: 1px solid #ffffff;
            }

            .demotable tbody tr:before {
                display: table-cell;
                vertical-align: middle;
            }

            .demotable tbody tr:before,
            .demotable b:after {
                content: counter(schetchik);
                color: #978777;
            }

    p {
        text-indent: 30px; /* Отступ первой строки в пикселах */
        font-size: 14pt; /* Размер шрифта в пунктах */
    }

    dl {
        font-size: 14pt; /* Размер шрифта в пунктах */
    }

    ol {
        font-size: 14pt;
    }
</style>