@model IEnumerable<Phd.Models.BRStudentGroup>

@{
    ViewData["Title"] = "Просмотр потоков на рус яз";
}

<h2>Просмотр потоков рус яз</h2>

@if (User.Identity.IsAuthenticated)
{
    <table class="demotable">
        <thead>
            <tr>
                <td>
                    <strong align="center"> №</strong>
                </td>
                <td>
                    <strong align="center"> @Html.DisplayNameFor(model => model.Name)</strong>
                </td>
                <td>
                    <strong align="center"> Действия</strong>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (User.IsAdmin() || User.IsEmployee() || User.IsSecretaryBacRus() || User.IsSecretaryMagRus())
                        {
                            <a class="btn btn-sm btn-primary" asp-action="CreateStudentRusAsync" asp-route-id="@item.Id">Создать студента</a>
                        }
                        &nbsp;
                        @if (User.IsAdmin() || User.IsAdministrator() || User.IsEmployee() || User.IsChairmanBacRus() || User.IsChairmanMagRus() || User.IsSecretaryBacRus() || User.IsSecretaryMagRus() || User.IsInstructorBacRus() || User.IsInstructorMagRus())
                        {
                            <a class="btn btn-sm btn-primary" asp-action="GetStudentsRusAsync" asp-route-id="@item.Id">Студенты</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}





<style>
    .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
    }

        .demotable tbody tr {
            counter-increment: schetchik; /* сосчитать только tr в tbody */
        }

            .demotable td,
            .demotable tbody tr:before {
                padding: .1em .5em;
                border: 1px solid #ffffff;
            }

            .demotable tbody tr:before {
                display: table-cell;
                vertical-align: middle;
            }

            .demotable tbody tr:before,
            .demotable b:after {
                content: counter(schetchik);
                color: #978777;
            }

    p {
        text-indent: 30px; /* Отступ первой строки в пикселах */
        font-size: 14pt; /* Размер шрифта в пунктах */
    }

    dl {
        font-size: 14pt; /* Размер шрифта в пунктах */
    }

    ol {
        font-size: 14pt;
    }
</style>