
@{
    ViewData["Title"] = "NotSuccess";
}

<h2>Что-то пошло не так... Вы не можете:  </h2>
<h3>
    1) Cтавить оценку повторно <br />
    2) Формировать любые документы без регистрации и проставления оценок всех ее членов <br />
</h3>
