@model Phd.Models.Faculty

@{
    ViewData["Title"] = "Править";
}

<h2>Править</h2>

<div>
    <h4>Факультет</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Править</a> |
    <a class="btn btn-sm btn-primary" asp-action="Index"> Назад</a>
</div>
