@model Phd.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация ДАВ";
}

<h2>Регистрация ППС</h2>

<table class="table">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="RegisterByAcadDep">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="UName" class="control-label"></label>
                            <input asp-for="UName" class="form-control" />
                            <span asp-validation-for="UName" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="BMajorId" class="control-label"></label>
                            <select asp-for="BMajorId" class="form-control" asp-items="ViewBag.BMajorId"></select>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="PasswordConfirm" class="control-label"></label>
                            <input asp-for="PasswordConfirm" class="form-control" />
                            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                        </div>
                    </th>
                    <th>

                    </th>
                </tr>
                <div class="form-group">
                    <input class="btn btn-success " type="submit" value="Регистрация" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</table>


            
           
            
            
            
            
            
            


            




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}